<div class="container mt-3">
  <div class="row">
    <div class="col-xs-6 mx-auto"><h4>Sign Up</h4></div>
  </div>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form_line col-7 col-lg-6">
        <%= f.label "Cp name" %><br />
        <%= f.text_field :couple_name, autofocus: true, class:"input-text form-js-input",placeholder: "tonecp-1201"  %>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form_line col-7 col-lg-3">
        <%= f.label "Name1" %><br />
        <%= f.text_field :name, class:"input-text form-js-input",placeholder: "とおる" %>
      </div>
      <div class="form_line col-7 col-lg-3">
        <%= f.label "Name2" %><br />
        <%= f.text_field :partner_name, class:"input-text form-js-input",placeholder: "ねね" %>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form_line col-7 col-lg-6">
        <%= f.label "Anniversary" %><br />
        <%= f.date_select :anniversary,use_month_numbers: true, start_year: 2000, end_year: Time.now.year, prompt:"--", class: "form-anv" %>
      </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-7 col-lg-6">
        <%= f.label "ProfileImage" %>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <%= attachment_image_tag @user, :profile_image, width: '10%', height: '10%', fallback: "no_image.jpg"%>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form_line col-7 col-lg-6">
        <%= f.label "Email" %><br />
        <%= f.email_field :email, class:"input-text form-js-input",placeholder: "sample@email.com" %>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form_line col-7 col-lg-6">
        <%= f.label "Password" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class:"input-text form-js-input" %>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
      <div class="form_line col-7 col-lg-6">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class:"input-text form-js-input" %>
      </div>
    </div>

      <div class="row mt-5 mb-5 offset-md-8 form_btn">
        <%= f.submit "Sign up",class:"btn btn-border" %>
      </div>
    </div>
  <% end %>
  <div class="row mt-3">
    <div class="col-xs-6 mx-auto"><h6>-既に登録済みの方-</h6></div>
  </div>

  <div class="row mt-2 mb-5">
    <div class="col-12 text-center"><%= render "devise/shared/links" %></div>
  </div>
</div>