<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "Name1" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "とおる", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Name2" %><br />
    <%= f.text_field :partner_name, autofocus: true, autocomplete: "partner_name", placeholder: "ねね", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Anniversary" %><br />
    <%= f.text_field :anniversary, autofocus: true, autocomplete: "anniversary", placeholder: "2021/12/01", class: "form-control" %>
  </div>

  <div>
    <%= attachment_image_tag @user, :profile_image, width: '10%', height: '10%', fallback: "no_image.jpg"%>
    <label for="inputImage">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@email.com", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
