<h1>Favorites</h1>
<% if @favorite.present? %>
  <% @favorite.each do |photo| %>
    <div>
    <%= link_to photo_path(photo.id) do %>
      <%= attachment_image_tag photo, :image %>
    <% end %>
    <%= link_to user_path(photo.user) do %>
      <p><%= photo.user.couple_name %></p>
    <% end %>
    <p><%= photo.title %></p>
  <% end %>
  <%= paginate @photos %>
<% else %>
  <p>お気に入りはありません</p>
<% end %>