<h4><%= @user.couple_name %></h4>
<%= render 'info', user: @user %>
<% @photo.each do |photo| %>
<div>
  <%= link_to photo_path(photo.id) do %>
   <%= attachment_image_tag photo, :image_id %>
  <% end %>
  <p>Title<%= post.title %></p>
</div>
<% end %>