<h4><%= @user.couple_name %></h4>
<%= render 'info', user: @user %>
<% @photos.each do |photo| %>
<div>
  <%= link_to photo_path(photo.id) do %>
   <%= attachment_image_tag photo, :image %>
  <% end %>
  <p>Title<%= photo.title %></p>
</div>
<% end %>
<%= paginate @photos %>