<div id="top-mv" class="my-5 mb-lg-7">
  <div class="container-fluid">
    <div class="row zi-1 pr">
      <div class="px-md-auto col-md-12">
        <h3 class="text-center mb-5">
          <strong class="fadeInDown"><span class="top-main">What should we do today?</span></strong><br>
        </h3>

        <h3 class="text-sm-center mt-5 fadeInDown">
          <span class="top-text">2人の幸せを記録しますか？明日の幸せを見つけますか？</span>
        </h3>

        <h3 class="text-sm-center mt-5 fadeInDown">
          <span class="top-text">明日一緒にデートする場所を探そうか...</span><br>
          <span class="top-text">大切な記念日は何をしよう？？</span><br>
          <span class="top-text">２人で過ごした幸せな時間を共有する？</span><br>
          <span class="top-text">私たちの幸せはここに。</span>
        </h3>
      </div>
    </div>

    <div id="amv">
      <ul class="row">
        <li class="col-6 col-md-4 mr-auto">
          <img src="/assets/top1.JPG" class="img-fluid fadeInDown">
        </li>
        <li class="col-6 col-md-4 ml-auto">
          <img src="/assets/top2.JPG" class="img-fluid  fadeInDown">
        </li>
      </ul>
    </div>

    <div class="row mt-5 fadein fadein-bottom">
      <div class="col-xs-12 col-lg-8 col-xl-9 mx-auto mt-5">
      <h5 class="mt-5 text-center">New Posts</h5>
        <div class="photo_view">
          <div class="d-flex flex-wrap bd-highlight justify-content-center">
            <% @photos.each do |photo| %>
              <div class="card mr-2" style="width: 12rem;">
                <div class="p-1 flex-fill bd-highlight">
                  <%= link_to photo_path(photo.id) do %>
                    <%= attachment_image_tag photo, :image,:fill,170,140, class: "card-img-top rounded" %>
                  <% end %>
                  <div class="card-body">
                    <p class="card-title"><%= photo.title %></p>
                    <p class="card-text"><%= link_to photo.user.couple_name, user_path(photo.user.id) %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 mt-2 text-right mb-4">
          <%= link_to "All Posts", photos_path %>
        </div>
      </div>
    </div>

    <div class="row mt-5 fadein fadein-bottom">
      <div class="col-xs-12 col-lg-8 col-xl-9 mx-auto">
        <h5 class="mt-5 mt-lg-0 text-center">Users</h5>
        <div class="top_user">
          <div class="row mt-3 justify-content-center">
            <%= render 'users/index', users: @users %>
          </div>
          <div class="col-md-12 text-right mb-4">
            <%= link_to "All Users", users_path %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
