<div class="container">
  <h1>top</h1>
  <div>
    <h4>投稿一覧</h4>
    <% @photos.each do |photo| %>
      <%= link_to photo_path(photo.id) do %>
        <%= attachment_image_tag photo, :image, width: '20%', height: '20%' %>
      <% end %>
      <%= photo.title %>
    <% end %>
    <%= paginate @photos %>
  </div>
  <div>
    <h4>User一覧</h4>
    <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <%= attachment_image_tag(user, :profile_image, width: '10%', height: '10%', fallback: "no_image.jpg") %>
      <% end %>
      <%= user.couple_name %>
    <% end %>
    <%= paginate @users %>
  </div>
</div>