<div id="top-mv" class="my-5 mb-lg-7">
  <div class="container-fluid">
  <div class="row zi-1 pr">
      <div class="px-md-auto col-md-12">
        <h3 class="text-center mb-5">
          <strong class="fadeInDown"><span class="top-main">What should we do today?</span></strong><br>
        </h3>

        <h3 class="text-sm-center mt-5 fadeInDown">
          <span class="top-text">2人の幸せを記録しますか？明日の幸せを見つけますか？</span>
        </h3>

        <h3 class="text-sm-center mt-5 fadeInDown">
          <span class="top-text">明日一緒にデートする場所を探そうか...</span><br>
          <span class="top-text">大切な記念日は何をしよう？？</span><br>
          <span class="top-text">２人で過ごした幸せな時間を共有する？</span><br>
          <span class="top-text">私たちの幸せはここに。</span>
        </h3>
      </div>
    </div>

    <div id="amv">
      <ul class="row">
        <li class="col-6 col-md-4 mr-auto">
          <img src="/assets/top1.JPG" class="img-fluid fadeInDown">
        </li>
        <li class="col-6 col-md-4 ml-auto">
          <img src="/assets/top2.JPG" class="img-fluid  fadeInDown">
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5 pt-5">
  <h1>top</h1>
  <div>
    <h4>投稿一覧</h4>
    <% @photos.each do |photo| %>
      <%= link_to photo_path(photo.id) do %>
        <%= attachment_image_tag photo, :image, width: '20%', height: '20%' %>
      <% end %>
      <%= photo.title %>
    <% end %>
    <%= paginate @photos %>
  </div>
  <div>
    <h4>User一覧</h4>
    <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <%= attachment_image_tag(user, :profile_image, width: '10%', height: '10%', fallback: "no_image.jpg") %>
      <% end %>
      <%= user.couple_name %>
    <% end %>
    <%= paginate @users %>
  </div>
</div>