<h1>投稿一覧</h1>
<%= @photos.each do |photo| %>
<div>
  <%= attachment_image_tag photo, :image_id %>
  <!--%= link_to user_path(@user.id) do %-->
    <p><%= photo.user.couple_name %></p>
  <!--% end %-->
  <%= link_to photo_path(photo.id) do %>
    <p><%= photo.title %></p>
  <% end %>
</div>
<% end %>