<div class="container mb-5">
 <div class="row d-flex justify-content-center">
  <h2>Post our love</h2>
 </div>
 <div class="row d-flex justify-content-center mt-2">
  <%= render 'layouts/errors', obj: @photo %>
 </div>


  <%= form_with model: @photo, local:true do |f| %>
   <div class="row mt-5 d-flex justify-content-center">
    <div class="form_line col-6 col-lg-5">
     <%= f.attachment_field :image %>
    </div>
   </div>
   <div class="row mt-5 d-flex justify-content-center">
    <div class="form_line col-6 col-lg-5">
     <%= f.text_field :title, autofocus: true, class:"input-text form-js-input",placeholder: "Title" %>
    </div>
   </div>
   <div class="row mt-5 d-flex justify-content-center">
    <div class="form_line col-6 col-lg-5">
     <li class="form_title">Name</li>
     <ul class="radio_conntent ml-auto d-flex justify-content-center ">
      <li class="radio_text">
      <%= f.radio_button :name, @user.name, checked: true %>
      <%= f.label :name,@user.name %>
      </li>
      <li class="radio_text">
      <%= f.radio_button :name, @user.partner_name, checked: true %>
      <%= f.label :name,@user.partner_name %>
      </li>
      <li class="radio_text">
      <%= f.radio_button :name, @user.name+'+'+@user.partner_name, checked: true %>
      <%= f.label :name,@user.name+'+'+@user.partner_name %>
      </li>
     </ul>
    </div>
   </div>
   <div class="row mt-5 d-flex justify-content-center">
    <div class="form_line col-6 col-lg-5">
     <%= f.text_field :place, autofocus: true, class:"input-text form-js-input",placeholder: "Place" %>
    </div>
   </div>
   <div class="row mt-5 d-flex justify-content-center">
    <div class="form_box col-6 col-lg-5">
     <%= f.text_area :body, autofocus: true, class:"input-text form-js-input",placeholder: "Comment" %>
    </div>
   </div>
   <div class="form_btn offset-md-8 mt-5">
    <%= f.submit 'Post',class:"btn btn-border" %>
   </div>
  <% end %>
 </div>
</div>