<div class="container mb-3">
 <div class="row d-flex justify-content-center">
  <h2>Post our love</h2>
  <%= render 'layouts/errors', obj: @photo %>
 </div>
 <div class="row mt-5 d-flex justify-content-center">
  <%= form_with model: @photo, local:true do |f| %>
   <div class="form_line">
    <%= f.attachment_field :image %>
   </div>
   <div class="form_line">
    <%= f.text_field :title, autofocus: true, class:"input-text form-js-input",placeholder: "Title" %>
   </div>
   <div class="form_line">
    <%= f.text_field :place, autofocus: true, class:"input-text form-js-input",placeholder: "Place" %>
   </div>
   <div class="form_box">
    <%= f.text_area :body, autofocus: true, class:"input-text form-js-input",placeholder: "Content" %>
   </div>
   <div class="form_btn offset-10 mt-5">
    <%= f.submit 'Post',class:"btn btn-border" %>
   </div>
  <% end %>
 </div>
</div>