<div class="container px-5 px-sm-0 mb-5 mt-4">
  <div class="row">
    <div class='col-md-3'>
      <%= render 'users/info', user: @photo.user %>
    </div>
    <div class="col-md-8">
      <div class="row ml-3">
        <%= attachment_image_tag @photo, :image,class:"card-img-top"; %>

        <div class="et-btn offset-11">
        <% if @photo.user == current_user %>
          <span class="mr-3"><%= link_to "", edit_photo_path(@photo.id),class:"fas fa-pen-square" %></span>
          <span><%= link_to "", photo_path(@photo), method: :delete,class:"fas fa-trash" %></span>
        <% else %>
          <div class="mb-3"></div>
        <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card-body pt-0">
          <div class="card-title">
            <span>
              <%= link_to user_path(@photo.user) do %>
                <%= @photo.user.couple_name %>
              <% end %>
            </span>
            <span id="like_<%= @photo.id %>"><%= render "likes/like", photo: @photo %></span>
            <span id="favorite_<%= @photo.id %>"><%= render "favorites/favorite", photo: @photo %></span>
          </div>
          <p class="card-text"><%= @photo.title %></p>
          <p class="card-text"><%= @photo.body %></p>
          <p class="card-text"><%= @photo.name %></p>
          <p class="card-text"><%= @photo.created_at.strftime('%Y/%m/%d') %></p>
          <p class="card-text"><%= @photo.comments.count %>Comments</p>
        </div>

        <div class="row ml-3 mt-4 mb-5">
          <div class="comments"><%= render 'comments/index', photo: @photo %></div>
          <div id="comments_error"><%= render 'layouts/errors', obj: @comment %></div>
          <div class="mt-3"><%= render 'comments/comment',photo: @photo, comment: @comment %></div>
        </div>
      </div>
    </div>

  </div>
</div>