<h1>投稿一覧</h1>
<%= @posts.each do |post| %>
<div>
  <%= attachment_image_tag post, :image %>
  <%= link_to user_path(@user.id) do %>
    <p><%= post.user.couple_name %></p>
  <% end %>
  <%= link_to post_path(post.id) do %>
    <p><%= post.title %></p><
  <% end %>
</div>
<% end %>