<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>
      <% if user_signed_in? %>
        <a class="navbar-brand" href="/top"><%= image_tag "logo.png", size:"150" %></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto d-flex align-items-start">
            <li class="nav-item">
              <%= link_to "", photos_path,class: 'fab fa-fort-awesome nav-link text-danger' %>
            </li>
            <li class="nav-item">
              <%= link_to "", users_path,class: 'fas fa-users nav-link text-danger' %>
            </li>
            <li class="nav-item">
              <%= link_to " ", new_photo_path,class: 'fas fa-plus nav-link text-danger' %>
            </li>
            <li class="nav-item">
              <%= link_to "", user_favorites_path(current_user.id),class: 'far fa-bookmark nav-link text-danger' %>
            </li>
            <li class="nav-item" data-turbolinks='false'>
              <%= link_to "", user_path(current_user.id),class: 'fas fa-globe nav-link text-danger' %>
            </li>
            <li class="search_form">
              <%= form_with url: search_path, method: :get, local: true do |f| %>
                <%= f.text_field :content, class:"search_text" %>
                <%= f.select :model, options_for_select({"User" => "user", "Post" =>"photo"}),{}, {class: 'search_select'} %>
                <button class="search_btn" type="submit"><i class="fas fa-search"></i></button>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <div data-turbolinks='false'><a class="navbar-brand" href="/"><%= image_tag "logo.png", size:"150" %></a></div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto d-flex align-items-start">
            <li class="nav-item">
              <%= link_to "Signup",new_user_registration_path,class: 'nav-link text-danger' %>
            </li>
            <li class="nav-item">
              <%= link_to "Login",new_user_session_path,class: 'nav-link text-danger' %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>
</header>